<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.apps.seikoshadow.ganglanddealer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.apps.seikoshadow.ganglanddealer.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name="com.apps.seikoshadow.ganglanddealer.Menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.seikoshadow.ganglanddealer.GameView"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.apps.seikoshadow.ganglanddealer.end_game"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.apps.seikoshadow.ganglanddealer.change_log"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>